@import url(https://fonts.googleapis.com/css?family=Train+One:regular);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    display: block;

}

a {
    text-decoration: none;
}

a:hover {
    cursor: url(../img/cursor.svg), pointer;

}

img {
    display: block;
    
}

/* ---------------------------------------------- */

.body {
    font-family: 'Lato';
    height: 100%;
}

/* ---------------------------------------------- */

.wrapper {

    min-height: 100vh;
    display: flex;
    flex-direction: column;


}

.container {
    max-width: 1200px;
    margin: 0 auto;

    padding: 0 20px;

}

/* ---------------------------------------------- */

.header {
    padding: 20px 0;


}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;




}


.header__menu {

    display: flex;
    align-items: center;

}

.menu__list {

    display: flex;
    gap: 30px;

    flex-wrap: wrap;


}

.menu__item {


    font-family: 'Lato';

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #3C3C3C;
}

.menu__item:hover {
    cursor: url(../img/cursor.svg), pointer;

    color: #18B5DC;
}

.header__button {


    padding: 10px 20px;

    background: white;

    border: 1px solid #3C3C3C;

    font-family: 'Lato';

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;



}

.header__button:hover {
    cursor: url(../img/cursor.svg), pointer;
    background: #18B5DC;
    color: #FFFF;
    border: none;
}



/* -------------------- */



.main {

    
    background: #F6F6F6;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

.main__container {
    margin: 150px 0 150px 0;
  
}

.main__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}


.title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #3C3C3C;



}

.title::after {
    content: "";
    position: absolute;
    left: 48%;
    top: 47%;
    border-bottom: solid #DDDBDB;
    background: #DDDBDB;
    height: 4px;
    width: 45px;

}



.sub-title {

    margin: 60px 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    width: 570px;
    text-align: center;

    color: #3C3C3C;
}

.main__content {
    width: 100%;
    display: flex;
    flex-direction: row;
   
}


.content__flip-card {
    position: relative;
    background-color: #18B5DC;
    width: 270px;
    height: 270px;
    display: flex;
    gap: 10px;
   margin: 0 30px 0 0;
    
    
   

}

.flip-card {
    
   
    position: relative;
    width: 42px;
    height: 42px;
    top: 40%;
    left: 23%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}

.flip-card:hover {
    transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
   position: absolute;
   width: 42px;
   height: 42px;
   backface-visibility: hidden;
    
}
.flip-card-front {
    
}

.flip-card-back {

    transform: rotateX(180deg);

}





.content__cards {
    display: flex;
    gap: 30px;
   
}

.content__card-name{
    margin-top: 20px;
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */


/* card-name-text */

color: #282528;
}
.content__card-dscrpt{
    font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
/* identical to box height */


/* card-position-text */

color: #646464;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    padding: 40px 0 36px;
}

.footer__menu-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 0 28px;
}

.footer__flip-cards {
   
    display: flex;
    position: relative;
    right: 5%;
    gap: 10px;
    margin: 0 0 40px;
}


